body {
    font-family: 'Inter';
    background-color: #FFF9F3;
    margin: 0;
    padding: 0;
    color: #2B170D;
}

.cabecalho {
    background-color: #2B170D;
    color: #ffffff;
    padding: 20px 8%;
    margin: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

.menu {
    display: flex;
    margin: 0;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

.escolha-banner {
    color: #C66A1A;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.banner {
    background-color: #F3E6D7;
    padding: 60px 8%;

    display: flex;
    align-items: center;
    gap: 40px;
}

.sobre {
    background-color: #f6efe6;
    padding: 60px 8%;

    display: flex;
    align-items: center;
    gap: 40px;
}

.cafes {
    background-color: #F3E6D7;
    text-align: center;
    padding: 60px 8%;
}

.cafes h2 {
    text-align: center;
    color: #5A321B;
    font-size: 32px;
}

.card-cafe {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.ambiente {
    background-color: #5A321B;
    padding: 60px 8%;

    display: flex;
    align-items: center;
    gap: 40px;
}

.ambiente-conteudo {
    color: #ffffff;
}

.contato {
    background-color: #F3E6D7;
    padding: 60px 8%;
}

footer {
    background-color: #5A321B;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}