body {
    font-family: 'Inter';
    background-color: #FFF9F3;
}

.cabecalho {
    background-color: #2B170D;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

/* .menu {
    display: flex;
    margin: 10px;
    gap: 20px;
    list-style: none;
} */

.escolha-banner {
    color: #C66A1A;
    padding: 10px;
    margin: 10px;
}

.banner {
    background-color: #F3E6D7;
}

.sobre {
    background-color: #f6efe6;
}

.cafes {
    background-color: #F3E6D7;
    text-align: center;
}
.cafes h2 {
    text-align: center;
}
.card-cafe {
    background-color: #ffffff;
}

.ambiente {
    background-color: #5A321B;
}

.ambiente-conteudo {
    color:#ffffff
}

.contato {
    background-color: #F3E6D7
}

footer {
    background-color: #5A321B;
}