.menu {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row; */
    gap: 23px;
    list-style: none;
    margin: 0;
    padding: 0;
    /* direção row e colummns */
    /* Alinhamento e espaçamento do conteúdo horizontal */
    /* justify-content: center; */
    /* justify-content: flex-start;
    justify-content: flex-end; */
     justify-content: space-around;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* Alinhamento e Espaçamento do conteúdo vertical */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: stretch; */

}

.cb-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.ban {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 8%;
    background-color: antiquewhite;
}

.ban-c, ban-img {
    flex: 1;
}

.ban-img img {
    width: 100%;
    display: block;
}


.lista-cartao {
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-cartao > li {
    flex: 1;
    min-width: 220px;
    /* height: 200px; */
    background-color: brown;

}

.cont {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 60px 8%;
}

.cont-c, .cont form {
    flex:1
}